name: Check solutions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Check solutions
        run: python -m unittest -v
